<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Number Facts App</title>
</head>
<body>
    <h1>Number Facts App</h1>
    <div id="singleNumberFacts">
        <h2>Facts About Your Favorite Number</h2>
        <ul id="singleNumberList"></ul>
    </div>
    <div id="multipleNumberFacts">
        <h2>Facts about Multiple Numbers</h2>
        <ul id="multipleNumberList"></ul>
    </div>
    <script src="app.js"></script>
</body>
</html>
